.security-prices-tools-panel{
    position: absolute;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
}

.security-prices-tools-panel .controls-container{
    padding:0 10px;
}

.security-prices-content-container{
    position: absolute;
    top: 50px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.loading-prices-sbm-button
{
    margin-left: 20px;
}

/*.security-prices-content-container table{*/
    /*border-collapse: collapse;*/
/*}*/

/*.security-prices-content-container table input[type="checkbox"]{*/
    /*vertical-align: middle;*/
/*}*/


/*tr.checked{*/
    /*background-color: #b0c4de !important;*/
/*}*/

/*tr.head{*/
    /*background-color: #66a2ad;*/
    /*color: #ffffff;*/
/*}*/

/*tr.head th{*/
    /*padding: 2px;*/
    /*height: 24px;*/
    /*border: 1px solid #bbb;*/
    /*border-top: none;*/
    /*border-left: none;*/
/*}*/

/*.prices-checkbox{*/
    /*padding:5px;*/
/*}*/