.input-group select,
.input-group input[type="text"]{
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 14px;
    padding-left: 6px;
    padding-right: 6px;

    color: #666;

    height: 100%;
}

.input-group input[type="text"]{
    padding-top: 6px;
    padding-bottom: 6px;
}

.input-wrapper .title,
.input-wrapper input[type="text"]
{
    height: 100%;
}

.input-wrapper .title{
    background-color: #ddd;
    border: 1px solid #ccc;
    float: left;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-right: none;
    font-size: 14px;
    padding: 6px 6px;
    color: #666;
}

.input-wrapper.hasTitle input[type="text"],
.input-wrapper.hasTitle select
{
    border-left: none;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
}

.input-wrapper select{
    /*width: 115px;*/
}

.input-wrapper.hasCalendar input[type="text"]{
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
}