.grid-settings-widget{
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: #ffffff;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d9dfe1;
}
.grid-settings-widget .header{
    background-color: #d9dfe1;
    color: #4c4c4c;
}

.grid-settings-widget .header .title{
    color: #4c4c4c;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.grid-settings-widget .item{
    padding: 2px 5px;
    border-bottom: 1px solid #f5f5f5;
}

.grid-settings-widget .item .item-control{
    display: inline-block;
}

.grid-settings-widget .item .item-control.column-name-label{
    width: 100px;
}

.grid-settings-widget .item .item-control.column-name-input-width{
    width: 50px;
}
.grid-settings-widget .item .item-control.column-name-input-dataFormat{
    width: 100px;
}
.grid-settings-widget .item .item-control.column-name-input-displayOrder{
    width: 50px;
}

.grid-settings-widget .item .item-control.caption{
    color: #ccc;
}

.grid-settings-widget input[type="text"]{
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #f5f5f5;
    outline: none;
}

.grid-settings-widget .item-control.column-name-input-dataFormat input[type="text"],
.grid-settings-widget .item-control.column-name-input-displayOrder input[type="text"]{
    border-left: none;
}