*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

.input-group.inline .form-control{
    display: inline-block;
    vertical-align: top;
}

.form-control{
    padding-top: 5px;
    padding-left: 5px;
}

.hidden{
    display: none;
}



.ui-datepicker-trigger {
    width: 30px;
    height: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #ccc;
    border-left: none;
    float: right;
    /*display: inline-block;*/
}

.page-info{
    text-align: center;
    margin-top: 100px;
    color: #999;
    font-size: 18px;

}

.message-wrapper{
    position: absolute;
    width: 100%;
    text-align: center;
}

select.error{
    border:1px solid red  !important;
}

.error input,
input.error{
    border:1px solid red  !important;
}